div.inputs {
  display: table;
  border-collapse: collapse;
}
div.input-row {
  display: table-row;
}
div.input-label {
  display: table-cell;
  text-align: right;
}
div.input {
  display: table-cell;
}
input[type=text]:disabled {
  background: #DDDDDD;
}
div.table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
}
div.table-header {
  display: table-row;
  font-weight: bold;
  border-bottom: 2px solid #C44;
}
div.table-row {
  display: table-row;
}
div.table-cell {
  display: table-cell;
  border: inherit;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
